*, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightskyblue;
}

body {
    
  
 }

 header img {
    border-radius: 130px;
    align-self: center;
 }


 nav {
    display: flex;
    padding: 5px;
    margin: 40px 0px 100px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    background-color: aliceblue;
    boc
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 li {
    float: left;
 }


 li a {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    background-color: aliceblue;
   
 }
    

header {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

h1 {
    position:relative;
    display: flex;
    font-size: 40px;
    border-radius: 20px;
    padding: 5px;
    align-self: center;
    justify-content: flex-start;
    

}

#about-me h2 {
    display: flex;
    padding: 10px 10px 20px;
    margin: 10px 40px 10px;
    font-size: 35px;
    line-height: 30px;
    border: solid black 5px;
    border-radius: 5px;
    justify-content: center;
}

#about-me p {
    padding: 0px 30px 20px;
    margin: 10px 40px 40px;
    font-size: 20px;
    line-height: 20px;
    border: solid black 5px;
    border-radius: 5px;
    
}

#work {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
border: 4px solid black;
padding: 20px;
margin: 10px;
border-radius: 5px;
gap: 40px

}

#work h2 {
padding: 0px 20px 20px;
}

#work img {
    border: solid gray 1px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(211, 211, 211, 0.316);

}

#work .html-seo-refactor {
    width: 100%
}

#contact-me {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 60px;
    font-size: 30px;
    align-items: baseline;
    
}

@media screen and (min-width: 769px) {
    section {
        flex-direction: column;
        
    }
    
    
    
}